.prof_picture{
  max-height: 100px;
  overflow: hidden;
}
.image_container:hover > .upload_img{
  display: inline-block;
}
.upload_img{
  background-color: #00c4cc;
  bottom: 0;
  color: #fff;
  display: none;
  left: 0;
  position: absolute;
  width: 100%;
  opacity: .7;
}
.upload_img:hover{
  color: #fff;
}
.user_timeline{
  position: relative;
  padding: 10px;
  border-radius: 5px;
}
.user_timeline:hover .deletePost{
  display: inline-block;
}
.user_timeline:hover{
  background-color: #F5F5F5;
}
.deletePost{
  display: none;
  background-color: #bbb;
  position: absolute;
  top: -8px;
  right: -8px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #6d6e71;
  cursor: pointer;
  padding-left: 7px;
}